MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/pinetoyzz?retryWrites=true&w=majority&appName=PineToyzz
MONGODB_DB=pinetoyzz
ADMIN_API_KEY=replace_with_secure_random_token
NEXT_PUBLIC_ADMIN_API_KEY=replace_with_secure_random_token
USER_AUTH_SECRET=replace_with_secure_random_user_auth_secret
